---
import PageFrame from "../components/PageFrame.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="What really matters | Portfolio 2k26">
    <PageFrame phrase="What really matters">
        <div aria-hidden="true"></div>
    </PageFrame>
</Layout>
