---
interface Props {
    phrase: string;
}

const { phrase } = Astro.props;
---

<section
    transition:animate="none"
    class="relative min-h-svh overflow-hidden"
>
    <div class="absolute inset-0">
        <slot />
    </div>

    <h1
        data-frame-phrase
        class="absolute bottom-6 left-6 z-10 font-sans text-frame-phrase leading-[0.95] font-bold tracking-[-0.03em] uppercase sm:bottom-8 sm:left-8 lg:bottom-10 lg:left-10"
    >
        {phrase}
    </h1>
</section>
